<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>活动列表</title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta content="false" id="twcClient" name="twcClient" />
<link href="html/activity/include/style.css?VER=1" rel="stylesheet" type="text/css" />
<script src="html/activity/include/jquery-1.12.2.min.js"></script>
</head>
<body>
<div class="top"><a href="/index.php?m=activity&f=all" class="left">首页</a><a href="/index.php?m=activity&f=my" class="right">我的</a></div>
<div class="tab" id="tab01">
  <ul>
    <li><span class="here">进行中的活动</span></li>
    <li><span>已结束的活动</span></li>
  </ul>
</div>
<div class="padd2">
  <div class="tab01Cont" id="tab01_Content0" >
<ul class="list" id="beings_list">
  {%foreach from=$beings key=idx item=item%}
    <li><a href="/index.php?m=activity&f=detail&id={%$item.id%}">
    <img src="{%$imgsite%}{%$item.thumb%}" alt="" />
    <div class="opa">
      <div class="title2">
        <p>{%$item.titleListShow%}</p>
        {%if $item.step==0%}
        <span class="weikaishi">未开始</span>
        {%else if $item.step==1%}
        <span class="jinxingzhong">进行中</span>
        {%else%}
        <span class="yijieshu">已结束</span>
        {%/if%}
        活动时间 :{%$item.start_date%} - {%$item.end_date%}</div>
    </div>
    </a></li>
{%/foreach%}
</ul>
{%if $beingsMore == 1%}
  <div class="more" id="beings_more"><a href="javascript:void(0)">查看更多<i></i></a></div>
{%/if%}
</div>
  <div class="tab01Cont" id="tab01_Content1">
<ul class="list" id="ends_list">
  {%foreach from=$ends key=idx item=item%}
    <li><a href="/index.php?m=activity&f=detail&id={%$item.id%}">
    <img src="{%$imgsite%}{%$item.thumb%}" alt="" />
    <div class="opa">
      <div class="title2">
        <p>{%$item.titleListShow%}</p>
        {%if $item.step==0%}
        <span class="weikaishi">未开始</span>
        {%else if $item.step==1%}
        <span class="jinxingzhong">进行中</span>
        {%else%}
        <span class="yijieshu">已结束</span>
        {%/if%}
        活动时间 :{%$item.start_date%} - {%$item.end_date%}</div>
    </div>
    </a></li>
{%/foreach%}
</ul>
{%if $endsMore == 1%}
  <div class="more" id="ends_more"><a href="javascript:void(0)">查看更多<i></i></a></div>
{%/if%}
</div>
</div>
<script type=text/javascript>
function iniMenu(tabObj,selNum,tabTagName,t){
	var collection = document.getElementById(tabObj).getElementsByTagName(tabTagName);
	var selObj = collection[selNum];
	selObj.className = 'here';
	document.getElementById(tabObj+"_Content"+selNum).style.display = "block";
	for(var i = 0; i < collection.length; i++){
		collection[i].num= i;
		collection[i].onmouseover = function(){
			//onclick
			temp = this;
			timer = setTimeout( function(){
				if(temp != selObj){
					selObj.className = '';
					temp.className = 'here';
					document.getElementById( tabObj+"_Content" + temp.num).style.display="block";
					document.getElementById( tabObj+"_Content" + selObj.num).style.display="none";
					selObj = temp;
				}
			},t);
		}
		collection[i].onmouseout = function(){
			clearTimeout(timer);
		}
	}
}
	iniMenu('tab01',0,'span',50);

$(document).ready(function(){
    var pg = {%$pg%};
    $("#ends_more").click(function(){
        appendHtmls();     
    });
    $("#beings_more").click(function(){
        appendHtmls();
    });
    function appendHtmls() {
        pg += 1;
        $.ajax({
            url:'index.php?m=activity&f=all&d=json&pg='+pg,
            type:'GET',
            data: '',
            dataType: 'json',
            success: function(data){
                for (i in data.beings) {
                    var a = data.beings[i];
                    var html = "<li><a href=\"/index.php?m=activity&f=detail&id="+a.id+"\">"
                            + "<img src=\"{%$imgsite%}" + a.thumb + "\" alt=\"\" />"
                            + "<div class=\"opa\">"
                            + "<div class=\"title2\">"
                            + "<p>" + a.titleListShow + "</p>";
                    if (a.step == 0) {
                        html += "<span class=\"weikaishi\">未开始</span>";
                    } else if (a.step == 1) {
                        html += "<span class=\"jinxingzhong\">进行中</span>";
                    } else {
                        html += "<span class=\"yijieshu\">已结束</span>";
                    }
                        html += "活动时间 :" + a.start_date + " - " + a.end_date + "</div>"
                            + "</div></a></li>";
                    $("#beings_list").append(html);
                }
                if (data.beingsMore != 1) {
                    $("#beings_more").hide();
                }
                for (i in data.ends) {
                    var a = data.ends[i];
                    var html = "<li><a href=\"/index.php?m=activity&f=detail&id="+a.id+"\">"
                            + "<img src=\"{%$imgsite%}" + a.thumb + "\" alt=\"\" />"
                            + "<div class=\"opa\">"
                            + "<div class=\"title2\">"
                            + "<p>" + a.titleListShow + "</p>"
                            + "<span class=\"yijieshu\">已结束</span>"
                            + "活动时间 :" + a.start_date + " - " + a.end_date + "</div>"
                            + "</div></a></li>";
                    $("#ends_list").append(html);
                }
                if (data.endsMore != 1) {
                    $("#ends_more").hide();
                }
            },
            error: function() {
                $("#dialog_error").html('服务器异常');
                $("#dialog").show();
            }

        });
    }
});
</script>
</body>
</html>
