<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>活动详情</title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta content="false" id="twcClient" name="twcClient" />
<link href="html/activity/include/style.css?VER=1" rel="stylesheet" type="text/css" />
<link href="html/css/weui.min.css" rel="stylesheet" type="text/css" />
<script src="html/activity/include/jquery-1.12.2.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div class="top"><a href="/index.php?m=activity&f=all" class="left">首页</a><a href="/index.php?m=activity&f=my" class="right">我的</a></div>
<div class="padd2_2">
  <div class="box3"><img src="{%$imgsite%}{%$activity.img%}" alt="" />
    <p>{%$activity.content|nl2br%}</p>
    <!--img src="html/activity/images/foot.jpg" alt="" /--></div>
</div>
<div class="tab" id="tab01">
  <ul>
    <li><span class="here">助力数排行榜</span></li>
    <li><span>活动奖品</span></li>
  </ul>
</div>
<div class="padd2_1">
  <div class="tab01Cont" id="tab01_Content0" >
  <ol class="list_top">
  {%foreach from=$joins key=idx item=item%}
      <li><a href="javascript:void(0)"><em>{%$idx + 1%}.</em><img src="{%$item.headimgurl%}132" alt="" /><span>{%$item.nickname%}</span><b>{%$item.user_remark|truncate:8:""%}</b><i>{%$item.help_times%}</i></a></li>
  {%/foreach%}
  </ol>
{%if $joinsCnt == 50 %}
  <div class="more"><a href="javascript::void(0)">排行榜只列出了前50名，想上榜赶紧邀请好友来助力</a></div>
{%/if%}
</div>
  <div class="tab01Cont" id="tab01_Content1">
  <ul class="list4">
{%foreach from=$awards key=idx item=item%}
    <li><a href="javascript:void(0)"><img src="{%$imgsite%}{%$item.img%}" alt="" width="110" height="83" /><div class="list4_r">
    <b>{%$item.title%}</b> 
<p>{%$item.name%}</p>
<i>奖品数 {%$item.total%}</i>
</div>
<div style=“clear:both; overflow:hidden;” ></div>
<div class="award_desc">{%$item.describe%}</div>
</a></li>
{%/foreach%}
  </ul>

</div>
<!--div style="margin:15px 0 10px;height:50px;"><a href="http://m.rong360.com/credit/card/landing/4?code=6&utm_source=zhongshi&utm_medium=zs_xyk"><img src="static/files/ad1604.jpg" style="height:auto;width: auto\9; width:100%;"/></a></div-->
</div>

{%if $activity.step == 1%}
<div class="yaoqing" id="joinBtn"><a href="javascript:void(0)">我要参加</a></div>
{%else if $activity.step == 2%}
<div class="yicanjia"><span>已结束</span></div>
{%else%}
<div class="yicanjia"><span>未开始</span></div>
{%/if%}
<div id="dialog1" style="display:none;">
<div class="fu_bg"></div>
<div class="fu"><em class="close"></em><!--span></span--><em class="qrcode"></em>
  <img id="wxHome" src="html/activity/images/er.png" width="125" height="125" alt="" />
<p>长按关注<i>『爱自驾联盟』</i>公众号即可参与成功</p>
</div>
</div>
<div id="dialog" style="display:none;">
  <div class="fu_bg"></div>
  <div class="fu_err"><em class="close"></em><span id="dialog_error"></span></div>
</div>
<!-- loading toast -->
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script type=text/javascript>
$("#dialog").hide();
$("#dialog1").hide();
function iniMenu(tabObj,selNum,tabTagName,t){
	var collection = document.getElementById(tabObj).getElementsByTagName(tabTagName);
	var selObj = collection[selNum];
	selObj.className = 'here';
	document.getElementById(tabObj+"_Content"+selNum).style.display = "block";
	for(var i = 0; i < collection.length; i++){
		collection[i].num= i;
		collection[i].onmouseover = function(){
			//onclick
			temp = this;
			timer = setTimeout( function(){
				if(temp != selObj){
					selObj.className = '';
					temp.className = 'here';
					document.getElementById( tabObj+"_Content" + temp.num).style.display="block";
					document.getElementById( tabObj+"_Content" + selObj.num).style.display="none";
					selObj = temp;
				}
			},t);
		}
		collection[i].onmouseout = function(){
			clearTimeout(timer);
		}
	}
}
	iniMenu('tab01',0,'span',50);

$(document).ready(function(){
    wx.config({
        debug: false,
        appId: '{%$signPackage["appId"]%}',
        timestamp: {%$signPackage["timestamp"]%},
        nonceStr: '{%$signPackage["nonceStr"]%}',
        signature: '{%$signPackage["signature"]%}',
        jsApiList: [
            'closeWindow',
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        // 所有要调用的 API 都要加到这个列表中
      ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '{%$activity.short_title%}', // 分享标题
            link: '{%$activity.shareUrl%}', // 分享链接
            imgUrl: '{%$imgsite%}{%$activity.share_logo%}', // 分享图标
            success: function () { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: '{%$activity.short_title%}', // 分享标题
            desc: '{%$activity.share_desc%}', // 分享描述
            link: '{%$activity.shareUrl%}', // 分享链接
            imgUrl: '{%$imgsite%}{%$activity.share_logo%}', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });
    });
    $("#dialog").hide();
    $("#dialog1").hide();
    $(".fu_bg").click(function(){
        $("#dialog").hide();
        $("#dialog1").hide();
    });
    $(".fu").click(function(){
        $("#dialog").hide();
        $("#dialog1").hide();
    });
    $(".fu_err").click(function(){
        $("#dialog").hide();
        $("#dialog1").hide();
    });
    $("#joinBtn").click(function(){
        $.ajax({
            url:'index.php?m=activity&f=join&id={%$activity.id%}&d=json',
            type:'GET',
            data: 'm=activity&f=join&id={%$activity.id%}',
            dataType: 'json',
            beforeSend: function(XMLHttpRequest) {
                var loadingToast = $('#loadingToast');
                if (loadingToast.css('display') != 'none') {
                    return;
                }
                loadingToast.show();
            },
            success: function(data){
                var loadingToast = $('#loadingToast');
                loadingToast.hide();
                if (data.errno == -1) {
                    $("#wxHome").attr('src', data.error);
                    $("#dialog1").show();
                } else if (data.errno == 0) {
                    window.location = "index.php?m=activity&f=joinSuccess&id=" + data.data;
                } else {
                    $("#dialog_error").html(data.error);
                    $("#dialog").show();
                }
            },
            error: function() {
                $("#dialog_error").html('服务器异常');
                $("#dialog").show();
            }

        });
    });
});
</script>
</body>
</html>
