<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>为好友助力</title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta content="false" id="twcClient" name="twcClient" />
<link href="html/activity/include/style.css?VER=1" rel="stylesheet" type="text/css" />
<script src="html/activity/include/jquery-1.12.2.min.js"></script>
</head>
<body>
<div class="top"><a href="/index.php?m=activity&f=all" class="left">首页</a><a href="/index.php?m=activity&f=my" class="right">我的</a></div>
<div class="wode"> <img src="{%$activityUser.headimgurl%}132" alt="" /> <span><b>{%$activityUser.nickname%}</b> 邀请你助力</span> 
{%if $activityUser.rank != 1%}
<span>距离上一名还差<i> {%$activityUser.minTimes - $activityUser.help_times%} </i>助力数 </span>
{%/if%}
<span>目前在第 <i>{%$activityUser.rank%}</i> 位</span></div>
<div class="padd3">
{%if $activityUser.help_times == 0%}
<div class="padd3">
  <div class="yaoqing2">暂时还没有好友助力， 赶紧去<a href="javascript:void(0)" id="yqHref">帮好友助力</a>吧</div>
</div>
{%else%}
  <div class="tit">共<b>{%$activityUser.help_times%}</b>位好友为我助力</div>
  <ul class="list2">
{%foreach from=$helpUsers key=idx item=item%}
    <li><img alt="" src="{%$item.headimgurl%}132"></li>
{%/foreach%}
  </ul>
{%/if%}
</div>
<div class="tit2_1">活动详情</div>
<div class="zhuli mb80"> <a href="/index.php?m=activity&f=detail&id={%$activity.id%}">
  <div class="zhuli_l"> <img src="{%$imgsite%}{%$activity.img%}" alt="" /></div>
  <div class="zhuli_r"><span>{%$activity.title%}</span> <i>活动时间 : {%$activity.start_time|date_format:"%Y-%m-%d"%} - {%$activity.end_time|date_format:"%Y-%m-%d"%}</i> </div>
  </a> 
</div>
<!--div style="margin:15px 0 10px;height:50px;"><a href="http://m.rong360.com/credit/card/landing/4?code=6&utm_source=zhongshi&utm_medium=zs_xyk"><img src="static/files/ad1604.jpg" style="height:auto;width: auto\9; width:100%;"/></a></div-->
<div class="yaoqing" id="helpBtn"><a href="javascript:void(0)">为好友助力</a></div>
<div id="dialog1" style="display:none;">
<div class="fu_bg"></div>
<div class="fu"><em class="close"></em><!--span></span--><em class="qrcode"></em>
  <img id="wxHome" src="html/activity/images/er.png" width="125" height="125" alt="" />
<p>长按关注<i>『爱自驾联盟』</i>公众号即可为好友助力</p>
</div>
</div>
<div id="dialog2" style="display:none;">
  <div class="fu_bg"></div>
  <div class="fu fu_1"><em class="close"></em><span>已为好友助力</span> <img src="html/activity/images/ok2.png" width="36" height="36" class="img" alt="" /> <a href="/index.php?m=activity&f=detail&id={%$activity.id%}" class="qukankan">我也想参与活动</a> </div>
</div>
<div id="dialog" style="display:none;">
  <div class="fu_bg"></div>
  <div class="fu_err"><em class="close"></em><span id="dialog_error"></span></div>
</div>
</body>
<script type=text/javascript>
$("#dialog").hide();
$("#dialog1").hide();
$("#dialog2").hide();
$(document).ready(function(){
    $(".fu_bg").click(function(){
        $("#dialog").hide();
        $("#dialog1").hide();
        $("#dialog2").hide();
        window.location.reload();
    });
    $(".fu").click(function(){
        $("#dialog").hide();
        $("#dialog1").hide();
        $("#dialog2").hide();
        window.location.reload();
    });
    $(".fu_err").click(function(){
        $("#dialog").hide();
        $("#dialog1").hide();
        $("#dialog2").hide();
    });
    $("#helpBtn").click(function(){
        help();
    });
    $("#yqHref").click(function(){
        help();
    });
    function help() {
        $.ajax({
            url:'index.php', //?m=activity&f=helpDo&id={%$activityUser.id%}',
            type:'POST',
            data: 'm=activity&f=helpDo&id={%$activityUser.id%}&d=json',
            dataType: 'json',
            success: function(data){
                if (data.errno == -1) {
                    $("#wxHome").attr('src', data.error);
                    //$(".fu_bg").show();
                    //$(".fu").show();
                    $("#dialog1").show();
                } else if (data.errno == -2) {
                    $("#dialog_error").html(data.error);
                    $("#dialog").show();
                }else {
                    $("#dialog2").show();
                    //window.location = "/index.php?m=activity&f=detail&id=" + data.data;
                }
            },
            error: function() {
                window.location.reload();
            }
        });
    }
});
</script>
</html>
