<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>我参加的活动</title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta content="false" id="twcClient" name="twcClient" />
<link href="html/activity/include/style.css?VER=1" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top"><a href="/index.php?m=activity&f=all" class="left">首页</a><a href="/index.php?m=activity&f=my" class="right">我的</a></div>
<div class="wode">
<img src="{%$user.headimgurl%}132" alt="" /> <span><b>{%$user.nickname%}</b></span></div>
<div class="padd">
  <div class="tit">我参与的活动</div>
  <ul class="list3">
{%if $myJoins|@count eq 0%}
<li>您还未参加任何活动，赶紧去参加活动吧！
<a href="/index.php?m=activity&f=all"><font color="blue">参加活动</font></a></li>
{%else%}
  {%foreach from=$myJoins key=idx item=item%}
  <li><a href="/index.php?m=activity&f=joinSuccess&id={%$item.id%}">
  <div class="list3_l">{%if $item.win==1%}<i></i>{%/if%}<img src="{%$imgsite%}{%$item.share_logo%}" alt="" /></div>
  <div class="list3_r"><div class="title4">{%$item.title%}</div>
  <div class="time">
  {%if $item.step==0%}
  <span class="weikaishi">未开始</span>
  {%else if $item.step==1%}
  <span class="jinxingzhong">进行中</span>
  {%else%}
  <span class="yijieshu">已结束</span>
  {%/if%}
  活动时间 :{%$item.start_date%} - {%$item.end_date%}</div>
  <div class="paiming">排名第    {%$item.rank%} 位  <br>
共有    {%$item.help_times%} 位好友为我助力
  </div>
  {%if $item.win==1%}
  <div><a class="title5" href="/index.php?m=activity&f=myaward&id={%$item.activity_id%}">填写领奖信息</a></div>
  {%/if%}
  </div></a>
  </li>
  {%/foreach%}
{%/if%}
  </ul>
</div>
</body>
</html>
