<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>领取奖品</title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta content="false" id="twcClient" name="twcClient" />
<link href="html/activity/include/style.css?VER=1" rel="stylesheet" type="text/css" />
<script src="html/activity/include/jquery-1.12.2.min.js"></script>
</head>
<body>
<div class="canyu">
<a href="index.php?m=activity&f=detail&id={%$userAwardsInfo.activity_id%}&org=1" class="none">
<div class="canyu_l">
<img src="{%$imgsite%}{%$userAwardsInfo.share_logo%}" alt=""></div>
<div class="canyu_r"><span>{%$userAwardsInfo.title%}</span>
<i>活动时间 : {%$userAwardsInfo.start_time|date_format:"m月d日"%}-{%$userAwardsInfo.end_time|date_format:"m月d日"%}</i>
  <p>点击查看活动详情</p>
</div>

</a>
</div>
<div class="lingjiang"><b>您获得{%$userAwardsInfo.award_title%}</b>
<span>获奖时间: {%$userAwardsInfo.create_time|date_format:"Y年m月d日"%}</span></div>

<div class="padd4">
  <ul class="list5"><li><span>姓　　名：</span><p><input name="realname" type="text" class="inp" value="{%$userAwardsInfo.realname%}"/></p></li>
  <li><span>手机号码：</span><p><input name="mobile" type="text" class="inp" value="{%$userAwardsInfo.mobile%}" /></p></li>
  <li><span>地　　址：</span><p><input name="address" type="text" class="inp" value="{%$userAwardsInfo.address%}"/></p></li>
  <li><span>身份证号：</span><p><input name="idno" type="text" class="inp" value="{%$userAwardsInfo.idno%}"/></p></li>
  </ul>
  </div>
<div class="lingjiang"><b>请您填写真实有效的个人信息</b><b>便于我们与您联系或邮寄奖品</b><p>感谢您的配合</p></div>
<div class="yaoqing"><a href="#" id="submitBtn">提交信息</a></div>
<div id="dialog" style="display:none;">
  <div class="fu_bg"></div>
  <div class="fu_err"><em class="close"></em><span id="dialog_error"></span></div>
</div>
</body>
<script type=text/javascript>
$(document).ready(function(){
    $("#dialog").hide();
    $(".fu_bg").click(function(){
        $("#dialog").hide();
    });
    $(".fu").click(function(){
        $("#dialog").hide();
    });
    $("#submitBtn").click(function(){
        var realname = $("input[name='realname']").val();
        var mobile= $("input[name='mobile']").val();
        var address= $("input[name='address']").val();
        var idno= $("input[name='idno']").val();
        $.ajax({
            url:'index.php',
            type:'POST',
            data: 'm=activity&f=updateUserAwardsInfo&id={%$userAwardsInfo.activity_id%}&d=json&realname='+realname+'&mobile='+mobile+'&address='+address+'&idno='+idno,
            dataType: 'json',
            success: function(data){
                if (data.errno == 0) {
                    //alert('提交成功');
                    //window.location = "index.php?m=activity&f=joinSuccess&id=" + data.data;
                    $("#dialog_error").html('<p>提交信息成功</p><b>我们将在1-3个工作日内与您联系</b><b>请保持提交联系方式的畅通</b>');
                    $("#dialog").show();
                } else {
                    $("#dialog_error").html(data.error);
                    $("#dialog").show();
                }
            },
            error: function() {
                $("#dialog_error").html('请重试');
                $("#dialog").show();
            }

        });
    });
});
</script>
</html>
