@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td {margin:0;padding:0;}
body,button,input,select,textarea {font:12px/1.125 microsoft yahei,arial;color:#222;}
ul,li{list-style:none;}
img{ border:0;}
em,i{font-style:normal;}
a{ text-decoration:none; color:#222;}
a:hover{ text-decoration:none;}
body{min-width:320px; margin:0 auto;}
header{ height:38px; line-height:38px; text-align:center; font-size:16px; display:block; background:#333; color:#fff; border-bottom:1px solid #000; position:relative;width:100%;}
header .fanhui{ position:absolute; left:0; top:0; width:34px; height:38px; background:url(../images/fanhui.png) no-repeat; background-size:34px 38px;}
.tab{ border-bottom:1px solid #ececec; width:100%;height:42px; line-height:42px;position:relative; }
.tab ul{ position: absolute; width:100%; left:0; top:-1px;}
.tab li{ float:left; width:50%;text-align:center;}
.tab li a{ display:block; width:80%; margin:0 auto;height:42px; line-height:42px; font-size:16px; color:#b5b5b5;}
.tab li a.here{ border-bottom:2px solid #ffb301;  color:#333; font-weight:bold;}
.tab li span{ display:block; width:80%; margin:0 auto;height:42px; line-height:42px; font-size:16px; color:#b5b5b5;}
.tab li span.here{ border-bottom:2px solid #ffb301;  color:#333; font-weight:bold;}
.list{ width:100%; clear:both; overflow:hidden;}
.list li{ float:left; width:100%; position:relative; margin-bottom:12px;}
.list li img{ display:block; width:100%;}
.list li .opa{background: rgba(0,0,0,0.6); height:55px; position:absolute; left:0; bottom:0; width:100%;}
.list li .title{ padding:0 35px 0 15px; background:url(../images/list_dot.png) right center no-repeat; background-size:25px 18px; line-height:14px;color:#b5b5b5; height:55px; font-size:10px;}
.list li .title p{ font-size:14px; color:#b5b5b5;line-height:18px; padding:8px 0 2px;}
.list li .title span{ color:#fff; background:#8d8d8d; display:inline-block; padding:2px 3px;border-radius:3px; margin-right:6px;}
.list li .title2{ padding:0 35px 0 15px; background:url(../images/list_dot2.png) right center no-repeat; background-size:25px 18px; line-height:14px;color:#b5b5b5; height:55px; font-size:10px;}
.list li .title2 p{ font-size:14px; color:#fff;line-height:18px; padding:8px 0 2px;}
.list li .title2 span{ color:#010101; background:#16ccdc; display:inline-block; padding:2px 3px;border-radius:3px; margin-right:6px;}
.list li .title2 span.jinxing{ background:#ffb301;}
.list li:last-child{ margin:0;}
.title3{ border-bottom:1px solid #e9e9e9; padding:20px 0 12px;}
.title3 h1{ display:block; text-align:center; font-size:16px; line-height:20px;}
.title3 span{ display:block; text-align:center; color:#b5b5b5; padding-top:9px;}
.box{ width:100%;}
.box img{ width:100%; display:block;}

.box2{ width:100%; clear:both; overflow:hidden; padding:8px 0 15px; background:#f6f6f6;border-bottom:1px solid #e9e9e9;border-top:1px solid #e9e9e9;}
.box2 img{ float:left; width:55px; height:55px; border:3px solid #fff;border-radius:55px; margin:10px 12px 0 10px;}
.box2 p{ overflow:hidden; padding-right:10px;}
.box2 p b{ display:block; font-size:14px; padding:10px 0 7px;}
.box2 p span{ display:block; padding:5px 0 0;}
.box2 p i{ color:#ffb302; font-size:18px; font-weight:bold;}

.padd{ padding:0 10px 55px;}
.tit{ line-height:39px; height:39px; border-bottom:2px solid #6F6F6F; text-align:center; color:#666;}
.tit2{ line-height:39px; height:39px; border-top:2px solid #6F6F6F; border-bottom:1px solid #ececec;color:#000; font-size:14px; font-weight:bold; padding-left:15px;}
.list2{ margin:15px 0 0 0;width:100%; clear:both; overflow:hidden;}
.list2 li{ float:left; width:16.6%; margin-bottom:15px;}
.list2 li img{ width:80%; display:block; margin:0 auto;}
.yaoqing{ height:40px; text-align:center; display:block; position:fixed; left:0; bottom:0; width:100%; padding:8px 0;background-color: rgba(0,0,0,0.6); }
.yaoqing a{line-height:40px; height:40px; text-align:center; display:block;width:95%; margin:0 auto;  color:#000; font-size:16px; background:#FFB302; border-radius:5px;}

.yicanjia{ height:40px; text-align:center; display:block; position:fixed; left:0; bottom:0; width:100%; padding:8px 0;background-color: rgba(0,0,0,0.8); }
.yicanjia span{line-height:40px; height:40px; text-align:center; display:block;width:95%; margin:0 auto;  color:#fff; font-size:16px; background:#9b9b9b; border-radius:5px;}
.wode{ width:100%; clear:both; overflow:hidden; padding:22px 0 20px; background:#f6f6f6;border-bottom:1px solid #e9e9e9;}
.wode img{ margin:0 auto;width:55px; height:55px; border:3px solid #fff;border-radius:55px; display:block;}
.wode span{ display:block; text-align:center; font-size:14px; padding-top:8px;}
.wode span i{ color:#ffb302; font-weight:bold;}


.list3{ margin:0 auto;width:100%;}
.list3 li{width:100%; padding:15px 0;border-bottom:1px solid #e9e9e9;}
.list3 li a{width:100%; display:block;}
.list3 li .list3_l{ float:left; width:71px; height:71px; border:1px solid #e9e9e9; margin-right:10px; position:relative;overflow:hidden;}
.list3 li .list3_l i{ width:30px; height:30px;background:url(../images/jiang.png) no-repeat; background-size:30px; position:absolute; left:-8px; top:-10px;}
.list3 li .list3_l img{ display:block; width:100%;}
.list3 li .list3_r{ display:block; overflow:hidden;}
.list3 li .title4{ height:16px; line-height:16px; overflow:hidden; font-size:14px;}
.list3 li .title5{ color:#ffb302; height:16px; line-height:16px; overflow:hidden; font-size:14px;}
.list3 li .time{ color:#666; font-size:10px; margin-top:4px;}
.list3 li .time span{ color:#010101; display:inline-block; padding:2px 3px;border-radius:3px; margin-right:6px;}
.list3 li .time span.jinxingzhong{background:#ffb301}
.list3 li .time span.yijieshu{background:#8d8d8d; color:#fff;}
.list3 li .time span.weikaishi{background:#16ccdc;}
.list3 li .paiming{ color:#666; line-height:16px; margin-top:5px;}
.padd2{ padding:0 10px 20px; border-bottom:2px solid #6f6f6f;}

.box3{ width:100%;}
.box3 img{ width:100%; display:block;}
.box3 p{ color:#686868; line-height:20px; padding:10px;}

.padd3{ padding:0 0px;}
.padd4{ padding:0 10px;}

.list_top{ width:100%; clear:both; overflow:hidden; margin:auto; padding:auto;}
.list_top li{ width:100%; border-bottom:1px solid #e5e5e5; line-height:40px; font-size:14px;}
.list_top li a{ width:100%; clear:both; overflow:hidden; display:block; padding:10px 0;}
.list_top li em{ float:left;color:#686868; width:25px;}
.list_top li img{ float:left;width:40px; height:40px; border:1px solid #e5e5e5;border-radius:40px;}
.list_top li span{ float:left; color:#333; padding-left:10px;}
.list_top li i{ float:right; color:#ffb302;}
.list_top li b{ float:left; font-weight:normal; color:#999; padding-left:5px;}

.more{ padding:10px 0 10px;}
.more a{ display:block; height:35px; line-height:35px; text-align:center; border:1px solid #dcdcdc; background:#f5f5f5; border-radius:3px; color:#b5b5b5;}
.more a i{ display: inline-block;width:11px;height:6px; position:relative; margin-left:3px;}
.more a i:before{ display:block;width:0px;height:0px; border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #aaa; position:absolute; top:0; left:0;content: ' ';}
.more a i:after{ display:block;width:0px;height:0px; border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #f5f5f5; position: absolute; top:-2px; left:0;content: ' ';}

.list4{ margin:0 auto;width:100%;}
.list4 li{width:100%; padding:15px 0;border-bottom:1px solid #e9e9e9;}
.list4 li a{width:100%; clear:both; overflow:hidden; display:block; padding:10px 0;}
.list4 li img{ float:left; margin-right:10px;}
.list4 li .list4_r{ display:block; overflow:hidden; font-size:14px;}
.list4 li .list4_r b{ display:block; color:#ffb302;}
.list4 li .list4_r p{ line-height:18px; margin:8px 0; font-size:14px;}
.list4 li .list4_r i{ display:block; font-size:12px; color:#aaa;}
.list4 li .list4_r em{ float:left; font-weight:normal; color:#999; padding-left:1px;}

.award_desc {font-size:12px; color:#666; margin-top:15px;}

.fu_bg{background-color: rgba(0,0,0,0.8); width:100%; height:100%; position:fixed; z-index:888; top:0; left:0;}
.fu{background:#fff; width:280px; height:205px; position:fixed; left:50%; top:50%; margin:-102px 0 0 -140px; border-radius:5px; text-align:center;z-index:889;}
.fu span{ display:block; font-size:13px; text-align:center; padding:25px 0 18px;}
.fu .qrcode{ display:block; font-size:13px; text-align:center; padding:5px 0 18px;}
.fu span.n1{font-size:10px; line-height:35px; padding:0 0 20px 15px; text-align:left; color:#686868;}
.fu span.n2{font-size:10px; padding:5px 0 20px 0;color:#686868;}
.fu p{ color:#666; padding-top:16px;}
.fu p i{ color:#ffb302;}
.fu .img{ display:block; margin:0 auto 15px;}
.fu .close{ position:absolute; right:0; top:0; width:25px; height:25px; background:url(../images/close.png) no-repeat; background-size:25px; margin:-10px -10px 0 0;}
.fu a.qukankan{ width:130px; height:30px; text-align:center; line-height:30px; background:#333; color:#FFB302; border-radius:3px; display:block; margin:0 auto; font-size:14px;}
.fu_1{ height:170px; margin:-85px 0 0 -140px; }

.fu_err{background:#fff; width:280px; position:fixed; left:50%; top:50%; margin:-102px 0 0 -140px; border-radius:5px; text-align:center;z-index:889;}
.fu_err span{ display:block; font-size:13px; text-align:center; padding:20px 0 18px;}
.fu_err span p{font-size:16px;margin-bottom:10px;font-weight:bold;text-align:center;}
.fu_err span b{display:block;font-size:12px;font-weight:normal;margin-top:5px;text-align:center;}
.fu_err .close{ position:absolute; right:0; top:0; width:25px; height:25px; background:url(../images/close.png) no-repeat; background-size:25px; margin:-10px -10px 0 0;}

.fu2{ position:fixed; left:0; top:0; width:100%;z-index:889;}
.fu2 img{ display:block; width:100%;}
.yaoqingka{ width:100%; clear:both; overflow:hidden; padding:22px 0 20px;border-bottom:2px solid #333;}
.yaoqingka img{ margin:0 auto;width:55px; height:55px; border:3px solid #fff;border-radius:55px; display:block;}
.yaoqingka span{ display:block; text-align:center; font-size:14px;}

.zhuli{ height:71px; overflow:hidden;border-bottom:1px solid #e9e9e9;border-top:1px solid #e9e9e9;  width:100%; background:#f5f5f5;}
.zhuli a{ display:block;width:100%; clear:both; overflow:hidden;background:url(../images/list_dot2.png) right center no-repeat; background-size:25px 18px; height:71px;}
.zhuli .zhuli_l{float:left;width:71px;height:71px;border-right:1px solid #e9e9e9; background:#fff; overflow:hidden;} 
.zhuli .zhuli_l img{ display:block;width:100%;}
.zhuli .zhuli_r{display:block; overflow:hidden; padding:0 35px 0 10px;}
.zhuli .zhuli_r span{display:block; font-size:14px; line-height:18px; padding-top:8px;}
.zhuli .zhuli_r i{display:block; font-size:12px; color:#b5b5b5; padding-top:6px;}

.canyu{ height:73px; overflow:hidden;padding:15px 10px; position:relative;}
.canyu em{ width:30px; height:30px;background:url(../images/jiang.png) no-repeat; background-size:30px; position:absolute; left:2px; top:2px;}
.canyu a{ display:block;width:100%; clear:both; overflow:hidden;background:url(../images/ok.png) right 5px no-repeat; background-size:50px 50px; height:73px;}
.canyu .canyu_l{float:left;width:71px;height:71px;border:1px solid #e9e9e9;background:#fff;overflow:hidden;}
.canyu .canyu_l img{ display:block;width:100%;}
.canyu .canyu_r{display:block; overflow:hidden; padding:0 35px 0 10px;}
.canyu .canyu_r span{display:block; font-size:14px; line-height:16px; padding-top:8px;}
.canyu .canyu_r i{display:block; font-size:12px; color:#b5b5b5; padding-top:6px;}
.canyu .canyu_r p{display:block; font-size:12px; color:#ffb302; padding-top:6px;}
.canyu a.none{ background:none;}

.tab01Cont { display:none;}



/*0330增加 奖品领取*/
.lingjiang{ width:100%; clear:both; overflow:hidden; padding:18px 0 10px 10px; background:#f6f6f6;border-bottom:1px solid #e9e9e9;border-top:1px solid #e9e9e9;}
.lingjiang span{ display:block; text-align:center; font-size:12px; padding-top:8px;}
.lingjiang b{ display:block; text-align:center; font-size:14px; color:#ffb302;padding-right:10px;margin-bottom:5px;}
.lingjiang p{ display:block; text-align:center; font-size:12px; color:#ffb302;padding-right:10px;}
.list5{ width:100%; padding:10px 0;}
.list5 li{position:relative; padding:5px 0 5px 70px; height:30px;}
.list5 li span{ position:absolute; left:0; top:5px; line-height:30px; text-align:center; width:70px;}
.list5 li p{ height:28px; border:1px solid #e9e9e9; padding:0 10px;}
.inp{ border:0; line-height:28px; height:28px; width:100%;}


.padd2_1{ padding:0 10px 80px;}
.padd2_2{ padding:0 0 20px; border-bottom:2px solid #6f6f6f;}
.tit2_1{ line-height:39px; height:39px; border-top:2px solid #6F6F6F;color:#000; font-size:14px; font-weight:bold; padding-left:15px;}
.yaoqing2{ text-align:center; font-size:12px; padding:30px 0;}
.yaoqing2 a{ color:#ffb302;}
.mb80{ margin-bottom:80px;}

.top{ height:30px; background:#1f1e23; position:relative; padding:0 10px;}
.top .left{ background:url(../images/dot0401.png) no-repeat; background-size:19px 60px; font-size:14px; line-height:30px; padding-left:25px; color:#fff; float:left;}
.top .right{ background:url(../images/dot0401.png) 0 -30px no-repeat; background-size:19px 60px; font-size:12px; line-height:30px; padding-left:25px; color:#fff; float:right;}
