<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>自驾联盟</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
</head>
<body>

Error 

{%$errno%} | {%if isset($data) %} {%$data|var_dump%} {%/if%}  {%if isset($error) %} {%$error|var_dump%} {%/if%}

<script type="text/javascript">

document.write(document.location);

</script>

</body>
</html>
